# Project exclude paths
/custom/solvia/solviabackoffice/.externalToolBuilders/
/custom/solvia/solviabackoffice/.settings/
/custom/solvia/solviabackoffice/backoffice/classes/
/custom/solvia/solviabackoffice/classes/
/custom/solvia/solviacore/.externalToolBuilders/
/custom/solvia/solviacore/.settings/
/custom/solvia/solviacore/classes/
/custom/solvia/solviafacades/.externalToolBuilders/
/custom/solvia/solviafacades/.settings/
/custom/solvia/solviafacades/classes/
/custom/solvia/solviafulfilmentprocess/.externalToolBuilders/
/custom/solvia/solviafulfilmentprocess/.settings/
/custom/solvia/solviafulfilmentprocess/classes/
/custom/solvia/solviainitialdata/.externalToolBuilders/
/custom/solvia/solviainitialdata/.settings/
/custom/solvia/solviainitialdata/classes/
/custom/solvia/solviasampleaddon/.externalToolBuilders/
/custom/solvia/solviasampleaddon/.settings/
/custom/solvia/solviasampleaddon/classes/
/custom/solvia/solviastorefront/.externalToolBuilders/
/custom/solvia/solviastorefront/.settings/
/custom/solvia/solviastorefront/web/addonsrc/
/custom/solvia/solviastorefront/web/commonwebsrc/
/custom/solvia/solviastorefront/web/testclasses/
/custom/solvia/solviastorefront/web/webroot/WEB-INF/classes/
/custom/solvia/solviatest/.externalToolBuilders/
/custom/solvia/solviatest/.settings/
/custom/solvia/solviatest/classes/
/custom/solviaaddon/.externalToolBuilders/
/custom/solviaaddon/.settings/
/custom/solviaaddon/classes/
/custom/solviacommercewebservices/.externalToolBuilders/
/custom/solviacommercewebservices/.settings/
/custom/solviacommercewebservices/classes/
/custom/solviacommercewebservices/web/addonsrc/
/custom/solviacommercewebservices/web/testclasses/
/custom/solviacommercewebservices/web/webroot/WEB-INF/classes/
/modules/adaptive-search/adaptivesearch/.settings/
/modules/adaptive-search/adaptivesearchbackoffice/.settings/
/modules/adaptive-search/adaptivesearchfacades/.settings/
/modules/adaptive-search/adaptivesearchsamplesaddon/.settings/
/modules/adaptive-search/adaptivesearchsolr/.settings/
/modules/adaptive-search/adaptivesearchwebservices/.settings/
/modules/api-registry/apiregistrybackoffice/.externalToolBuilders/
/modules/api-registry/apiregistrybackoffice/backoffice/classes/
/modules/api-registry/apiregistryservices/.externalToolBuilders/
/modules/assisted-services/assistedservicefacades/.externalToolBuilders/
/modules/assisted-services/assistedservicefacades/.settings/
/modules/assisted-services/assistedserviceservices/.externalToolBuilders/
/modules/assisted-services/assistedserviceservices/.settings/
/modules/assisted-services/assistedservicestorefront/.externalToolBuilders/
/modules/assisted-services/assistedservicestorefront/.settings/
/modules/assisted-services/assistedservicewebservices/.settings/
/modules/assisted-services/assistedservicewebservices/web/testclasses/
/modules/b2b-accelerator/b2bacceleratoraddon/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratoraddon/.settings/
/modules/b2b-accelerator/b2bacceleratorfacades/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratorfacades/.settings/
/modules/b2b-accelerator/b2bacceleratorservices/.externalToolBuilders/
/modules/b2b-accelerator/b2bacceleratorservices/.settings/
/modules/b2b-accelerator/commerceorgaddon/.externalToolBuilders/
/modules/b2b-accelerator/commerceorgaddon/.settings/
/modules/b2b-accelerator/commerceorgsamplesaddon/.externalToolBuilders/
/modules/b2b-accelerator/commerceorgsamplesaddon/.settings/
/modules/b2b-accelerator/powertoolsstore/.externalToolBuilders/
/modules/b2b-accelerator/powertoolsstore/.settings/
/modules/b2b-accelerator-addons/accountsummaryaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/accountsummaryaddon/.settings/
/modules/b2b-accelerator-addons/accountsummaryaddon/web/addonsrc/
/modules/b2b-accelerator-addons/b2boccaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/b2boccaddon/.settings/
/modules/b2b-accelerator-addons/b2bpunchout/.settings/
/modules/b2b-accelerator-addons/b2bpunchoutaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/b2bpunchoutaddon/.settings/
/modules/b2b-accelerator-addons/savedorderforms/.externalToolBuilders/
/modules/b2b-accelerator-addons/savedorderforms/.settings/
/modules/b2b-accelerator-addons/savedorderformsoccaddon/.externalToolBuilders/
/modules/b2b-accelerator-addons/savedorderformsoccaddon/.settings/
/modules/b2b-accelerator-addons/secureportaladdon/.externalToolBuilders/
/modules/b2b-accelerator-addons/secureportaladdon/.settings/
/modules/b2b-commerce/b2bapprovalprocess/.externalToolBuilders/
/modules/b2b-commerce/b2bapprovalprocess/.settings/
/modules/b2b-commerce/b2bapprovalprocessfacades/.externalToolBuilders/
/modules/b2b-commerce/b2bapprovalprocessfacades/.settings/
/modules/b2b-commerce/b2bcommerce/.externalToolBuilders/
/modules/b2b-commerce/b2bcommerce/.settings/
/modules/b2b-commerce/b2bcommercebackoffice/.settings/
/modules/b2b-commerce/b2bcommercefacades/.externalToolBuilders/
/modules/b2b-commerce/b2bcommercefacades/.settings/
/modules/b2c-accelerator/apparelstore/.externalToolBuilders/
/modules/b2c-accelerator/apparelstore/.settings/
/modules/b2c-accelerator/electronicsstore/.externalToolBuilders/
/modules/b2c-accelerator/electronicsstore/.settings/
/modules/b2c-accelerator-addons/captchaaddon/.externalToolBuilders/
/modules/b2c-accelerator-addons/captchaaddon/.settings/
/modules/backoffice-addons/pcmbackofficesamplesaddon/.externalToolBuilders/
/modules/backoffice-addons/pcmbackofficesamplesaddon/.settings/
/modules/backoffice-applications/pcmbackoffice/.settings/
/modules/backoffice-framework/backoffice/.settings/
/modules/backoffice-framework/backoffice/web/testclasses/
/modules/backoffice-framework/backofficesolrsearch/.settings/
/modules/backoffice-framework/platformbackoffice/.settings/
/modules/base-commerce/basecommerce/.settings/
/modules/base-commerce/basecommercebackoffice/.settings/
/modules/base-commerce/customerreview/.settings/
/modules/base-commerce/payment/.settings/
/modules/base-commerce/promotions/.settings/
/modules/base-commerce/promotionsbackoffice/.settings/
/modules/base-commerce/voucher/.settings/
/modules/base-commerce/voucherbackoffice/.settings/
/modules/commerce-services/commercefacades/.externalToolBuilders/
/modules/commerce-services/commercefacades/.settings/
/modules/commerce-services/commerceservices/.externalToolBuilders/
/modules/commerce-services/commerceservices/.settings/
/modules/commerce-services/commerceservicesbackoffice/.settings/
/modules/commerce-services/commercewebservicescommons/.externalToolBuilders/
/modules/commerce-services/commercewebservicescommons/.settings/
/modules/configurable-bundle/configurablebundleaddon/.externalToolBuilders/
/modules/configurable-bundle/configurablebundlefacades/.externalToolBuilders/
/modules/configurable-bundle/configurablebundlefacades/.settings/
/modules/configurable-bundle/configurablebundleservices/.externalToolBuilders/
/modules/configurable-bundle/configurablebundleservices/.settings/
/modules/consignment-tracking/consignmenttrackingaddon/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingaddon/.settings/
/modules/consignment-tracking/consignmenttrackingbackoffice/.settings/
/modules/consignment-tracking/consignmenttrackingfacades/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingfacades/.settings/
/modules/consignment-tracking/consignmenttrackingmock/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingmock/.settings/
/modules/consignment-tracking/consignmenttrackingoccaddon/.settings/
/modules/consignment-tracking/consignmenttrackingservices/.externalToolBuilders/
/modules/consignment-tracking/consignmenttrackingservices/.settings/
/modules/core-accelerator/acceleratorbackoffice/.settings/
/modules/core-accelerator/acceleratorcms/.externalToolBuilders/
/modules/core-accelerator/acceleratorcms/.settings/
/modules/core-accelerator/acceleratorfacades/.externalToolBuilders/
/modules/core-accelerator/acceleratorfacades/.settings/
/modules/core-accelerator/acceleratorservices/.externalToolBuilders/
/modules/core-accelerator/acceleratorservices/.settings/
/modules/core-accelerator/acceleratorservices/web/testclasses/
/modules/core-accelerator/acceleratorstorefrontcommons/.externalToolBuilders/
/modules/core-accelerator/acceleratorstorefrontcommons/.settings/
/modules/core-accelerator/acceleratorwebservicesaddon/.externalToolBuilders/
/modules/core-accelerator/acceleratorwebservicesaddon/.settings/
/modules/core-accelerator/addonsupport/.externalToolBuilders/
/modules/core-accelerator/addonsupport/.settings/
/modules/coupon/couponbackoffice/.settings/
/modules/coupon/couponfacades/.settings/
/modules/coupon/couponservices/.settings/
/modules/customer-service/customersupportbackoffice/.externalToolBuilders/
/modules/customer-service/customersupportbackoffice/.settings/
/modules/customer-service/customerticketingaddon/.externalToolBuilders/
/modules/customer-service/customerticketingaddon/.settings/
/modules/customer-service/customerticketingfacades/.externalToolBuilders/
/modules/customer-service/customerticketingfacades/.settings/
/modules/customer-service/ticketsystem/.settings/
/modules/customer-service/ticketsystembackoffice/.settings/
/modules/integration-apis/inboundservices/.externalToolBuilders/
/modules/integration-apis/integrationservices/.externalToolBuilders/
/modules/integration-apis/integrationservices/.settings/
/modules/integration-apis/odata2services/.externalToolBuilders/
/modules/integration-apis/odata2services/.settings/
/modules/integration-apis/odata2webservices/.externalToolBuilders/
/modules/integration-apis/odata2webservices/.settings/
/modules/integration-apis/odata2webservices/web/testclasses/
/modules/integration-apis/odata2webservicesfeaturetests/.externalToolBuilders/
/modules/integration-apis/odata2webservicesfeaturetests/.settings/
/modules/integration-apis/outboundservices/.externalToolBuilders/
/modules/npm-ancillary/npmancillary/.externalToolBuilders/
/modules/npm-ancillary/npmancillary/.settings/
/modules/order-management/ordermanagementfacades/.externalToolBuilders/
/modules/order-management/ordermanagementfacades/.settings/
/modules/order-management/orderselfserviceaddon/.externalToolBuilders/
/modules/order-management/orderselfserviceaddon/.settings/
/modules/personalization/personalizationcms/.settings/
/modules/personalization/personalizationcmsbackoffice/.settings/
/modules/personalization/personalizationcmsweb/.settings/
/modules/personalization/personalizationfacades/.settings/
/modules/personalization/personalizationsampledataaddon/.settings/
/modules/personalization/personalizationservices/.settings/
/modules/personalization/personalizationservicesbackoffice/.settings/
/modules/personalization/personalizationsmartedit/.settings/
/modules/personalization/personalizationsmartedit/smartedit-custom-build/
/modules/personalization/personalizationwebservices/.settings/
/modules/personalization/personalizationwebservices/web/testclasses/
/modules/personalization/previewpersonalizationweb/.settings/
/modules/personalization-promotion/personalizationpromotions/.settings/
/modules/personalization-promotion/personalizationpromotionsbackoffice/.settings/
/modules/personalization-promotion/personalizationpromotionssampledataaddon/.settings/
/modules/personalization-promotion/personalizationpromotionssmartedit/.settings/
/modules/personalization-promotion/personalizationpromotionssmartedit/smartedit-custom-build/
/modules/personalization-promotion/personalizationpromotionsweb/.settings/
/modules/personalization-search/personalizationsearch/.settings/
/modules/personalization-search/personalizationsearchbackoffice/.settings/
/modules/personalization-search/personalizationsearchsamplesaddon/.externalToolBuilders/
/modules/personalization-search/personalizationsearchsamplesaddon/.settings/
/modules/personalization-search/personalizationsearchsmartedit/.settings/
/modules/personalization-search/personalizationsearchsmartedit/smartedit-custom-build/
/modules/personalization-search/personalizationsearchweb/.settings/
/modules/platform/auditreportservices/.settings/
/modules/platform/embeddedserver/.settings/
/modules/platform/groovynature/.externalToolBuilders/
/modules/platform/groovynature/.settings/
/modules/platform/tomcatembeddedserver/.settings/
/modules/promotion-engine/promotionenginebackoffice/.settings/
/modules/promotion-engine/promotionenginesamplesaddon/.settings/
/modules/promotion-engine/promotionengineservices/.settings/
/modules/rule-engine/droolsruleengineservices/.settings/
/modules/rule-engine/ordercalculation/.settings/
/modules/rule-engine/rulebuilderbackoffice/.settings/
/modules/rule-engine/ruledefinitions/.settings/
/modules/rule-engine/ruleengine/.settings/
/modules/rule-engine/ruleenginebackoffice/.settings/
/modules/rule-engine/ruleengineservices/.settings/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/.externalToolBuilders/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationbackoffice/backoffice/classes/
/modules/sap-cloud-platform-extension-factory-integration/kymaintegrationservices/.externalToolBuilders/
/modules/search-and-navigation/solrfacetsearch/.settings/
/modules/search-and-navigation/solrfacetsearchbackoffice/.settings/
/modules/search-and-navigation/solrserver/.settings/
/modules/smartedit/cmssmartedit/smartedit-custom-build/
/modules/smartedit/cmssmartedit/web/features/cmscommons/services/componentService.js
/modules/smartedit/cmssmarteditwebservices/.settings/
/modules/smartedit/cmssmarteditwebservices/web/testclasses/
/modules/smartedit/smartedit/.settings/
/modules/smartedit/smartedit/smartedit-build/
/modules/smartedit/smartedit/smartedit-custom-build/
/modules/smartedit/smarteditaddon/.externalToolBuilders/
/modules/smartedit/smarteditaddon/.settings/
/modules/smartedit/smarteditwebservices/.externalToolBuilders/
/modules/smartedit/smarteditwebservices/.settings/
/modules/smartedit/smarteditwebservices/web/testclasses/
/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplateaddon/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplatebackoffice/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplatefacades/.settings/
/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.externalToolBuilders/
/modules/text-field-configurator-template/textfieldconfiguratortemplateservices/.settings/
/modules/web-content-management-system/cms2/.settings/
/modules/web-content-management-system/cms2lib/.settings/
/modules/web-content-management-system/cmsbackoffice/.settings/
/modules/web-content-management-system/cmsfacades/.settings/
/modules/web-content-management-system/cmsoccaddon/.externalToolBuilders/
/modules/web-content-management-system/cmsoccaddon/.settings/
/modules/web-content-management-system/cmswebservices/.settings/
/modules/web-content-management-system/cmswebservices/web/testclasses/
/modules/web-content-management-system/previewwebservices/.settings/
/modules/web-content-management-system/previewwebservices/web/testclasses/
/modules/web-services-commons/permissionsfacades/.settings/
/modules/web-services-commons/permissionswebservices/.settings/
/modules/web-services-commons/webservicescommons/.settings/
/platform/.externalToolBuilders/
/platform/.settings/
/platform/bootstrap/modelclasses/
/platform/eclipsebin/
/platform/ext/advancedsavedquery/.settings/
/platform/ext/catalog/.settings/
/platform/ext/comments/.settings/
/platform/ext/commons/.settings/
/platform/ext/core/.settings/
/platform/ext/deliveryzone/.settings/
/platform/ext/europe1/.settings/
/platform/ext/hac/.settings/
/platform/ext/hac/web/testclasses/
/platform/ext/impex/.settings/
/platform/ext/maintenanceweb/.settings/
/platform/ext/mediaweb/.settings/
/platform/ext/oauth2/.settings/
/platform/ext/paymentstandard/.settings/
/platform/ext/platformservices/.settings/
/platform/ext/scripting/.settings/
/platform/ext/testweb/.settings/
/platform/ext/testweb/web/testclasses/
/platform/ext/validation/.settings/
/platform/ext/workflow/.settings/
/platform/tomcat/