# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

solviasampleaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
solviasampleaddon.application-context=solviasampleaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.solviasampleaddon=classpath:/solviasampleaddon/web/spring/solviasampleaddon-web-spring.xml



solviasampleaddon.javascript.paths.responsive=/responsive/common/js/solviasampleaddon.js
solviasampleaddon.css.paths.responsive=/responsive/common/css/solviasampleaddon.css
